.button {
  @apply
    relative
    w-full
    flex
    justify-center
    text-white
    border
    overflow-hidden
    rounded-full;

  transition: all 0.2s ease-in;
  border-color: rgba(255, 255, 255, .5);

  svg {
    @apply fill-current;
  }

  /*
  ** Styles
  */
  &.default {
    @apply bg-gray-100 text-gray-800 border-gray-300;

    &:hover {
      @apply bg-gray-200;
    }
  }
 
  &.gradient {
    background: #f4783c;
    background: -webkit-gradient(linear,right top,left top,from(#f4783c),to(#e41c53));
    background: linear-gradient(270deg,#f4783c,#e41c53);
    background-size: 200% 200%;
    background-position: 100% 100%;
  }

  &.success {
    @apply bg-green-600;

    &:hover {
      @apply bg-green-700;
    }

    &.outline {
      @apply bg-transparent border-green-600 text-green-600;

      svg {
        @apply fill-current;
      }

      &:hover {
        @apply bg-green-600 text-white;
      }
    } 
  }

  &.dark {
    @apply bg-gray-900;

    &:hover {
      @apply bg-black;
    }

    &.outline {
      @apply bg-transparent border-gray-900 text-gray-900;

      &:hover {
        @apply bg-gray-900 text-white;
      }
    }    
  }  

  &.error {
    @apply bg-red-600;

    &:hover {
      @apply bg-red-700;
    }
  }  

  /*
  ** Sizes
  */
  &.sm {
    @apply p-2 text-sm;
  }

  &.md {
    @apply p-3;
  }

  &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  &.loading {
    @apply opacity-50 cursor-not-allowed;
  }

  &:hover {
    background-position: 50% 50%;
    transition: all 0.2s ease-in;
  }

  @screen md {
    @apply border-2;
  }  
}